/* Green */
$green: #224128;
$green-hover: #317464;
$green-light: #317464;
/* Green */

/* Purple */
$purple-dark: #4E3C48;
$purple-light: #6E3174;
/* Purple */

/* Transitions */
$transition: all 0.3s ease;
/* Transitions */