/* Base Colors */
$white: #fff;
$gray: #fafbfc;
$gray-disable: #6c757d;
$black: #000;
/* Base Colors */

/* Green */
$green: #224128;
$green-hover: #317464;
$green-light: #15A784;
/* Green */

/* Purple */
$purple-dark: #4E3C48;
$purple-light: #6E3174;
/* Purple */

/* Transitions */
$transition: all 0.3s ease;
/* Transitions */

/* Fonts */
$default: 'Avenir', Helvetica, Arial, sans-serif;
$comics: "Comic Sans MS", cursive, sans-serif;
/* Fonts */

/* Sizes */
$min-height-container: calc(100vh - 285px);
$min-height-container-tablet: calc(100vh - 315px);
$min-height-container-mobile: calc(100vh - 335px);
/* Sizes */